body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* NAVBAR STYLING */
.nav-link-custom {
  margin-right: 15px;
  font-weight: bold;
  font-size: 19px;
}
.dropdown-item-custom {
  font-weight: bold;
  font-size: 15px;
}

.gallery-img {
  height: 150px; /* Fixed height to keep images uniform */
  object-fit: cover; /* Ensures the image covers the whole area without stretching */
  width: 100%; /* Make sure image width fills the column */
}


